body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App Styles */

.App{
  max-width:400px;
  margin: 30px auto;
  text-align:center;
}

nav{
  padding: 5px;
}

nav ul{
  padding: 0;
}

nav ul li{
  display: inline-block!important;
  margin: 0 10px;
}

.book-list{
  padding: 20px;
  margin-bottom: 20px;
}

.book-list ul{
  padding: 0px;
  list-style-type: none;
}

.book-list ul li{
  padding:10px;
  margin:10px auto;
  border-radius: 10px;
}
